- unless user_signed_in?
  .hero-unit
    %h1 Community Board
    %p Created as an example for #{link_to "Tokyo Rubyist Meetup", "http://www.tokyorubyistmeetup.org"}.
    %p
      = link_to "Login", new_user_session_path, class: "btn btn-primary"
      = link_to "Register", new_user_registration_path, class: "btn"
= render template: "communities/index"
