.page-header
  %h2 Create a new community
= simple_form_for @community, html: { class: "form-horizontal"} do |f|
  = f.input :name
  .form-actions
    = f.button :submit, "Create Community", class: "btn-primary"
    = link_to "Cancel", :back, class: "btn"
